
// COLORS
// Red orange
$red-orange-50 : #FEF6EE;
$red-orange-100 : #FDEAD7;
$red-orange-200 : #FAD1AE;
$red-orange-300 : #F7B787;
$red-orange-400 : #F28545;
$red-orange-500 : #EE6421;
$red-orange-600 : #DF4B17;
$red-orange-700 : #B93715;
$red-orange-800 : #932D19;
$red-orange-900 : #772817;
$red-orange-950 : #40120A;

// Tangerine
$tangerine-50 :#FFF9ED;
$tangerine-100 : #FEF1D6;
$tangerine-200 : #FCDEAC;
$tangerine-300 : #FAC677;
$tangerine-400 : #F7A240;
$tangerine-500 : #F4871B;
$tangerine-600 : #EE7214;
$tangerine-700 : #BE5210;
$tangerine-800 : #974115;
$tangerine-900 : #7A3714;
$tangerine-950 : #421A08;

$moca-100 : #F9E8D9;

$tablet: 880px;
$phone-md: 580px;
$phone: 420px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $moca-100;
    background-size: auto;
    // z-index: 0;
    user-select: none;
    /* background-repeat: repeat-y; */
}
a {
    text-decoration: none;
    // color: black;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h2 {
    -webkit-text-stroke: .4px white;
    color: #527853;
    
}



// NAVBAR
.nav-stuck {
    background-color: $red-orange-500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 8rem;
    @media (max-width: $tablet) {
        padding: .8rem 2rem;
    }
    @media (max-width: $phone-md) {
        justify-content: center;
    }

    div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            -webkit-text-stroke: 1px white;
            font-size: 2.3rem;
            @media (max-width: $phone) {
                font-size: 1.8rem;
            }
        }
    }

    div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 0 .75rem;
        @media (max-width: $phone-md) {
            display: none;
        }
    }
}

.nav-stick {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: .5rem 8rem;
    background-color: $tangerine-400;
    @media (max-width: $tablet) {
        padding: .5rem 2rem;
    }

    div:nth-child(1){
        display: flex;
        @media (max-width: $phone-md) {
            display: none;
        }
    }

    div:nth-child(2){
        display: none;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        @media (max-width: $phone-md) {
            display: flex;
        }
        .navIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 0.5rem;
            a {
                margin: 0;
            }
        }
        #resNav {
            display: flex;
            color: white;
            border-radius: 10px;
        }
        #resMenu {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 1rem 2rem;
            background-color: $red-orange-400;
            #resNavClose {
                position: absolute;
                display: inline;
                right: 1rem;
            }
            .menus {
                display: block;
                a {
                    padding: 1rem 0;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    div {
        align-items: center;
        a {
            color: white;
            margin-right: 2rem;
            img {
                margin-right: .5rem;
            }
            display: flex;
            align-items: center;
        }   
    }
}

// BERANDA
.home-image {
    
    position: relative;
    padding-top: 2px;
    
    .image-home {
        width: 100%;
        // z-index: -1;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    .home-title {
        // z-index: 1;
        max-width: 700px;
        top: 0;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            color: white;
            font-size: 4rem;
            line-height:  110%;
            @media (max-width: $tablet) {
                font-size: 2.5rem;
            }
            @media (max-width: $phone) {
                font-size: 1.5rem;
            }
        }
        a {
            padding: .5rem 2rem;
            color: white;
            border-radius: 40px;
            font-weight: 600;
            display: inline-block;
            margin-top: 1.5rem;
            @media (max-width: $phone) {
                margin-top: 1rem;
                padding: .25rem 1rem;
                font-size: .5rem;
            }
            background-color: #527853;
        }
    }
}

.place {
    
    .place-container {
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 1rem;

        /* PLACES HEADER */
        .places-header {
            text-align: center;
            max-width: 760px;
            padding: 1rem 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.2rem;
            }

            @media (max-width: $phone) {
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: .8rem;
                }
            }
        }

        /* PLACE IMAGES */
        .places-images {
            height: 680px;
            @media (max-width: $tablet) {
                height: 480px;
            }
            display: flex;
            width: 100%;
            border-radius: 10px; 
            overflow: hidden;
            @media (max-width: $phone) {
                flex-direction: column;
            }
            /* THE PLACES */
            .places {
                position: relative;
                height: 100%;
                width: 100%;
                flex: 1;
                transition: 1s;
                filter: brightness(.5);
                overflow: hidden;
                &:hover {
                    flex: 30%;
                    filter: brightness(1);
                }

                &:hover .places-exp {
                    opacity: 1;
                    transition: 2s;
                }
                
                .places-exp {
                    text-align: center;
                    color: white;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    opacity: 0;
                    transition: .5s;
                    text-shadow: 0px 0px 5px black;

                    h3 {
                        font-size: 1.5rem;
                    }
                }

                /* THE IMAGES */
                .images {
                    z-index: -10;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    /* filter: blur(1px); */

                }
            }
        }
        
    }
}


.benefit {
    width: 100%;
    .benefit-header {
        padding: 1rem;
        max-width: 760px;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        align-items: center;
        h2 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.4rem;
        }
        @media (max-width: $phone) {
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .benefit-container {
        padding: 1rem 2rem;
        max-width: 1280px;
        margin: 0 auto;
        .benefit-cards{
            width: 100%;
            display: flex;
            padding: 0 1rem 2.5rem;
            /* gap: 0 3rem; */
            .cards {
                display: flex;
                flex-direction: column;
                position: relative;
                flex-grow: 0;
                flex-shrink: 0;
                /* width: 400px; */
                height: 660px;
                @media (max-width: $phone) {
                    height: 460px;
                }
                &:nth-child(even) {
                    justify-content: end;
                }
                
                .card-image {
                    position: relative;
                    height: 70%;
                    h3 {
                        position: absolute;
                        display: inline-block;
                        bottom: 1rem;
                        left: 1rem;
                        font-size: 2rem;
                        color: #D6CECB;
                        a {
                            color: inherit;
                        }
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: -1;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 30%;
                        background: linear-gradient(0deg,  #000080 0%,  #00008000 100%);
                    }
                }
                .card-detail {
                    padding: 1rem 0;
                    p {
                        margin-bottom: 1rem;
                    }
                    
                    a {
                        background-color: wheat;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }
}

.goDown {
    animation: navDown .5s ease;
}

@keyframes navDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.resGoDown {
    animation: navRespoLeft .3s linear;
}

@keyframes navRespoLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-close {
    animation: nav-close 1s ease;
}

@keyframes nav-close {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}