* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9E8D9;
  background-size: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  -webkit-text-stroke: 0.4px white;
  color: #527853;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
}

.section-header {
  padding: 1rem;
  max-width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 1rem;
  align-items: center;
  margin: 0 auto 1rem;
}
.section-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section-header h4 {
  font-size: 2.6rem;
  font-family: "Ruthie", cursive;
  font-weight: 400;
  color: #EE7214;
}
.section-header p {
  font-size: 1rem;
}
@media (max-width: 420px) {
  .section-header h2 {
    font-size: 2.4rem;
  }
  .section-header h4 {
    font-size: 2rem;
  }
  .section-header p {
    font-size: 0.8rem;
  }
}

.nav-stuck {
  background-color: #EE6421;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 8rem;
}
@media (max-width: 880px) {
  .nav-stuck {
    padding: 0.8rem 2rem;
  }
}
@media (max-width: 580px) {
  .nav-stuck {
    justify-content: center;
  }
}
.nav-stuck div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-stuck div:nth-child(1) img:nth-child(1) {
  width: 80px;
  margin-right: 0.75rem;
}
@media (max-width: 580px) {
  .nav-stuck div:nth-child(1) img:nth-child(1) {
    width: 60px;
  }
}
.nav-stuck div:nth-child(1) img:nth-child(2) {
  width: 180px;
}
@media (max-width: 580px) {
  .nav-stuck div:nth-child(1) img:nth-child(2) {
    width: 160px;
  }
}
.nav-stuck div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
}
@media (max-width: 580px) {
  .nav-stuck div:nth-child(2) {
    display: none;
  }
}

.nav-stick {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 8.5rem;
  background-color: #F7A240;
}
@media (max-width: 880px) {
  .nav-stick {
    padding: 0.5rem 2rem;
  }
}
.nav-stick div:nth-child(1) {
  display: flex;
}
@media (max-width: 580px) {
  .nav-stick div:nth-child(1) {
    display: none;
  }
}
.nav-stick div:nth-child(2) {
  display: none;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
@media (max-width: 580px) {
  .nav-stick div:nth-child(2) {
    display: flex;
  }
}
.nav-stick div:nth-child(2) .navIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
}
.nav-stick div:nth-child(2) .navIcon a {
  margin: 0;
}
.nav-stick div:nth-child(2) #resNav {
  display: flex;
  color: white;
  border-radius: 10px;
}
.nav-stick div:nth-child(2) #resMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  background-color: #F28545;
}
.nav-stick div:nth-child(2) #resMenu #resNavClose {
  position: absolute;
  display: inline;
  right: 1rem;
}
.nav-stick div:nth-child(2) #resMenu .menus {
  display: block;
}
.nav-stick div:nth-child(2) #resMenu .menus a {
  padding: 1rem 0;
  border-bottom: 1px solid white;
}
.nav-stick div {
  align-items: center;
}
.nav-stick div a {
  color: white;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.nav-stick div a img {
  margin-right: 0.5rem;
}

.home-image {
  position: relative;
}
.home-image .image-home {
  width: 100%;
}
.home-image .image-home video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}
.home-image .home-title {
  max-width: 700px;
  top: 0;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-image .home-title h1 {
  color: white;
  font-size: 4rem;
  line-height: 110%;
}
@media (max-width: 880px) {
  .home-image .home-title h1 {
    font-size: 2rem;
  }
}
@media (max-width: 580px) {
  .home-image .home-title h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 420px) {
  .home-image .home-title h1 {
    font-size: 1.25rem;
  }
}
.home-image .home-title a {
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #527853;
}
@media (max-width: 420px) {
  .home-image .home-title a {
    margin-top: 1rem;
    padding: 0.25rem 1rem;
    font-size: 0.5rem;
  }
}

.biodiversity {
  background-image: url("../assets/imgs/logo-icon/fade.png");
  background-position: top;
  background-repeat: repeat-x;
}
.biodiversity .container .biodiversity-images {
  display: grid;
  grid-template-areas: "first first fourth fourth" "first first fourth fourth" "second third fourth fourth" "second third fourth fourth";
  gap: 4px;
  width: 100%;
  height: 620px;
}
@media (max-width: 580px) {
  .biodiversity .container .biodiversity-images {
    grid-template-areas: "first first" "first first" "second third" "second third" "fourth fourth" "fourth fourth";
    height: 420px;
  }
}
.biodiversity .container .biodiversity-images .biodiversities {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}
.biodiversity .container .biodiversity-images .biodiversities:nth-child(1) {
  grid-area: first;
}
.biodiversity .container .biodiversity-images .biodiversities:nth-child(2) {
  grid-area: second;
}
.biodiversity .container .biodiversity-images .biodiversities:nth-child(3) {
  grid-area: third;
}
.biodiversity .container .biodiversity-images .biodiversities:nth-child(4) {
  grid-area: fourth;
}
.biodiversity .container .biodiversity-images .biodiversities::before {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.biodiversity .container .biodiversity-images .biodiversities img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.biodiversity .container .biodiversity-images .biodiversities h3 {
  padding: 8px;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 880px) {
  .biodiversity .container .biodiversity-images .biodiversities h3 {
    padding: 6px;
    font-size: 0.6rem;
  }
}

.panorama .container .panorama-images {
  grid-template-areas: "first second second third " "fourth fourth fifth fifth";
  display: grid;
  gap: 4px;
  width: 100%;
  height: 520px;
}
@media (max-width: 880px) {
  .panorama .container .panorama-images {
    height: 420px;
    grid-template-areas: "first first second second" "third third fifth fifth" "fourth fourth fifth fifth";
  }
}
.panorama .container .panorama-images .panoramas {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}
.panorama .container .panorama-images .panoramas:nth-child(1) {
  grid-area: first;
}
.panorama .container .panorama-images .panoramas:nth-child(2) {
  grid-area: second;
}
.panorama .container .panorama-images .panoramas:nth-child(3) {
  grid-area: third;
}
.panorama .container .panorama-images .panoramas:nth-child(4) {
  grid-area: fourth;
}
.panorama .container .panorama-images .panoramas:nth-child(5) {
  grid-area: fifth;
}
.panorama .container .panorama-images .panoramas::before {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.panorama .container .panorama-images .panoramas img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.panorama .container .panorama-images .panoramas h3 {
  padding: 8px;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 880px) {
  .panorama .container .panorama-images .panoramas h3 {
    padding: 6px;
    font-size: 0.6rem;
  }
}

.place {
  margin-bottom: 5rem;
}
.place .container .places-images {
  height: 680px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 880px) {
  .place .container .places-images {
    height: 480px;
  }
}
@media (max-width: 420px) {
  .place .container .places-images {
    flex-direction: column;
  }
}
.place .container .places-images .places {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
  transition: 1s;
  filter: brightness(0.5);
  overflow: hidden;
}
.place .container .places-images .places:hover {
  flex: 30%;
  filter: brightness(1);
}
.place .container .places-images .places:hover .places-exp {
  opacity: 1;
  transition: 2s;
}
.place .container .places-images .places .places-exp {
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0px 0px 5px black;
}
.place .container .places-images .places .places-exp h3 {
  font-size: 1.5rem;
}
.place .container .places-images .places .images {
  z-index: -10;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.benefit {
  width: 100%;
  margin-bottom: 5rem;
}
.benefit .benefit-container {
  padding: 1rem 2rem;
  max-width: 1280px;
  margin: 0 auto;
}
.benefit .benefit-container .benefit-cards {
  width: 100%;
  display: flex;
  padding: 0 1rem 2.5rem;
}
.benefit .benefit-container .benefit-cards .cards {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  height: 660px;
}
@media (max-width: 420px) {
  .benefit .benefit-container .benefit-cards .cards {
    height: 460px;
  }
}
.benefit .benefit-container .benefit-cards .cards:nth-child(even) {
  justify-content: end;
}
.benefit .benefit-container .benefit-cards .cards .card-image {
  position: relative;
  height: 70%;
}
.benefit .benefit-container .benefit-cards .cards .card-image h3 {
  position: absolute;
  display: inline-block;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #D6CECB;
}
.benefit .benefit-container .benefit-cards .cards .card-image h3 a {
  color: inherit;
}
.benefit .benefit-container .benefit-cards .cards .card-image img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.benefit .benefit-container .benefit-cards .cards .card-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, #000080 0%, rgba(0, 0, 128, 0) 100%);
}
.benefit .benefit-container .benefit-cards .cards .card-detail {
  padding: 1rem 0;
}
.benefit .benefit-container .benefit-cards .cards .card-detail p {
  margin-bottom: 1rem;
}
.benefit .benefit-container .benefit-cards .cards .card-detail a {
  background-color: wheat;
  padding: 0.5rem 1rem;
}

.goDown {
  animation: navDown 0.5s ease;
}

@keyframes navDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.resGoDown {
  animation: navRespoLeft 0.8s cubic-bezier(0, 0.06, 0, 1.28);
}

@keyframes navRespoLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.nav-close {
  animation: nav-close 0.8s cubic-bezier(0.97, -0.29, 1, 0.93);
}

@keyframes nav-close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=style.css.map */