
// COLORS
// Red orange
$red-orange-50 : #FEF6EE;
$red-orange-100 : #FDEAD7;
$red-orange-200 : #FAD1AE;
$red-orange-300 : #F7B787;
$red-orange-400 : #F28545;
$red-orange-500 : #EE6421;
$red-orange-600 : #DF4B17;
$red-orange-700 : #B93715;
$red-orange-800 : #932D19;
$red-orange-900 : #772817;
$red-orange-950 : #40120A;

// Tangerine
$tangerine-50 :#FFF9ED;
$tangerine-100 : #FEF1D6;
$tangerine-200 : #FCDEAC;
$tangerine-300 : #FAC677;
$tangerine-400 : #F7A240;
$tangerine-500 : #F4871B;
$tangerine-600 : #EE7214;
$tangerine-700 : #BE5210;
$tangerine-800 : #974115;
$tangerine-900 : #7A3714;
$tangerine-950 : #421A08;

$moca-50 : #FDF6EF;
$moca-100 : #F9E8D9;
$moca-200 : #F3D0B5;
$moca-300 : #EAB087;
$moca-400 : #E18756;
$moca-500 : #DA6835;
$moca-600 : #CC512A;
$moca-700 : #A93D25;
$moca-800 : #873325;
$moca-900 : #6E2C20;
$moca-950 : #3B140F;

$tablet: 880px;
$phone-md: 580px;
$phone: 420px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $moca-100;
    background-size: auto;
    // z-index: 0;
    user-select: none;
    // / background-repeat: repeat-y; /
}
a {
    text-decoration: none;
    // color: black;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h2 {
    -webkit-text-stroke: .4px white;
    color: #527853;
}

.swiper-pagination-bullet-active {
    background-color: $red-orange-400 !important;
}

.swiper-pagination-bullet {
    padding: .3rem;
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid $red-orange-400;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem;
}

.section-header {
    padding: 1rem;
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: .5rem 1rem;
    align-items: center;
    margin: 0 auto 1rem;
    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 2.6rem;
        font-family: "Ruthie", cursive;
        font-weight: 400;
        color: $tangerine-600;
    }
    p {
        font-size: 1rem;
    }
    @media (max-width: $phone) {
        h2 {
            font-size: 2.4rem;
        }
        h4 {
            font-size: 2rem;
        }
        p {
            font-size: .8rem;
        }
    }
}

// NAVBAR
.nav-stuck {
    background-color: $red-orange-500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 8rem;
    @media (max-width: $tablet) {
        padding: .8rem 2rem;
    }
    @media (max-width: $phone-md) {
        justify-content: center;
    }

    div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            &:nth-child(1) {
                width: 80px;
                margin-right: .75rem;
                @media (max-width: $phone-md) {
                    width: 60px;
                }
            }
            &:nth-child(2) {
                width: 180px;
                @media (max-width: $phone-md) {
                    width: 160px;
                }
            }
        }
    }

    div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 0 .75rem;
        @media (max-width: $phone-md) {
            display: none;
        }
    }
}

.nav-stick {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: .5rem 8.5rem;
    background-color: $tangerine-400;
    @media (max-width: $tablet) {
        padding: .5rem 2rem;
    }

    div:nth-child(1){
        display: flex;
        @media (max-width: $phone-md) {
            display: none;
        }
    }

    div:nth-child(2){
        display: none;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        @media (max-width: $phone-md) {
            display: flex;
        }
        .navIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 0.5rem;
            a {
                margin: 0;
            }
        }
        #resNav {
            display: flex;
            color: white;
            border-radius: 10px;
        }
        #resMenu {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 1rem 2rem;
            background-color: $red-orange-400;
            #resNavClose {
                position: absolute;
                display: inline;
                right: 1rem;
            }
            .menus {
                display: block;
                a {
                    padding: 1rem 0;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    div {
        align-items: center;
        a {
            color: white;
            margin-right: 2rem;
            img {
                margin-right: .5rem;
            }
            display: flex;
            align-items: center;
        }   
    }
}

// BERANDA
.home-image {
    
    position: relative;
    
    .image-home {
        width: 100%;
        // z-index: -1;
        video {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    .home-title {
        // z-index: 1;
        max-width: 700px;
        top: 0;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            color: white;
            font-size: 4rem;
            line-height:  110%;
            @media (max-width: $tablet) {
                font-size: 2rem;
            }
            @media (max-width: $phone-md) {
                font-size: 1.75rem;
            }
            @media (max-width: $phone) {
                font-size: 1.25rem;
            }
        }
        a {
            padding: .5rem 2rem;
            color: white;
            border-radius: 40px;
            font-weight: 600;
            display: inline-block;
            margin-top: 1.5rem;
            @media (max-width: $phone) {
                margin-top: 1rem;
                padding: .25rem 1rem;
                font-size: .5rem;
            }
            background-color: #527853;
        }
    }
}


// ABOUT 
.about {
    background-image: url('../assets/imgs/logo-icon/fade.png');
    background-position: top;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }
            .itemses {
                display: flex;
                flex: 0 0 40%;
                .img-itemses {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;
                    padding: 4px;
                    @media (max-width: $tablet) {
                        padding: 1rem;
                    }
                    .img-ses {
                        position: relative;
                        width: 14rem;
                        margin-right: 1rem;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 9999px;
                        @media (max-width: $tablet) {
                            width: 10rem;
                        }
                        &:nth-child(1) {
                            height: 18rem;
                            @media (max-width: $tablet) {
                                height: 14rem;
                            }
                            background-image: url('../assets/imgs/gallery/img_3895.jpg');
                        }
                        &:nth-child(2) {
                            height: 24rem;
                            @media (max-width: $tablet) {
                                height: 18rem;
                            }
                            background-image: url('../assets/imgs/gallery/img_3895.jpg');
                            img {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .explain-ses {
                flex: 0 0 60%;
                h1 {
                    font-size: 40px;
                    margin-bottom: 12px;
                }
                p {
                    text-align: justify;
                }
                .rating-ses {
                    display: flex;
                    align-items: center;
                    margin-top: 1.25rem;
                    span {
                        font-size: 20px;
                        &:nth-child(1) {
                            font-size: 25px;
                            font-weight: 600;
                            margin-right: 6px;
                        }
                        &:nth-child(2) {
                            margin-right: 1rem;
                        }
                    }
                    .stars {
                        color: gold;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        // padding: 1.25rem 4rem;
}


// KEINDAHAN ALAM
.biodiversity {
    .container {
        .biodiversity-images {
            @media (max-width: $phone-md) {
                grid-template-areas: 
                'first first'
                'first first'
                'second third'
                'second third'
                'fourth fourth'
                'fourth fourth'
                ;
            height: 420px;
            }
            display: grid;
            grid-template-areas: 
            'first first fourth fourth'
            'first first fourth fourth'
            'second third fourth fourth'
            'second third fourth fourth'
            ;
            gap: 4px;
            width: 100%;
            height: 620px;
            .biodiversities {
                &:nth-child(1) {
                    grid-area: first;
                }
                &:nth-child(2) {
                    grid-area: second;
                }
                &:nth-child(3) {
                    grid-area: third;
                }
                &:nth-child(4) {
                    grid-area: fourth;
                }
                border-radius: 15px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: end;
                justify-content: center;
                &::before {
                    content: '';
                    height: 50%;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                    z-index: 0;
                }
                img {
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
                h3 {
                    padding: 8px;
                    z-index: 1;
                    color: white;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    text-align: center;
                    @media (max-width: $tablet) {
                        padding: 6px;
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}

// pemandangan alam
.panorama {
    .container {
        .panorama-images {
            @media (max-width: $tablet) {
            height: 420px;
            grid-template-areas: 
                'first first second second'
                'third third fifth fifth'
                'fourth fourth fifth fifth'
                ;
        }
            grid-template-areas: 
                'first second second third '
                'fourth fourth fifth fifth'
                ;
            display: grid;
            gap: 4px;
            width: 100%;
            height: 520px;
            .panoramas {
                border-radius: 15px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: end;
                justify-content: center;
                &:nth-child(1) {
                    grid-area: first;
                }
                &:nth-child(2) {
                    grid-area: second;
                }
                &:nth-child(3) {
                    grid-area: third;
                }
                &:nth-child(4) {
                    grid-area: fourth;
                }
                &:nth-child(5) {
                    grid-area: fifth;
                }
                &::before {
                    content: '';
                    height: 50%;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                    z-index: 0;
                }
                img {
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
                h3 {
                    padding: 8px;
                    z-index: 1;
                    color: white;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    text-align: center;
                    @media (max-width: $tablet) {
                        padding: 6px;
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}


// AKTIVITAS

.place {
    margin-bottom: 5rem;
    .container {
        // / PLACE IMAGES /
        .places-images {
            height: 680px;
            @media (max-width: $tablet) {
                height: 480px;
            }
            display: flex;
            width: 100%;
            border-radius: 10px; 
            overflow: hidden;
            @media (max-width: $phone) {
                flex-direction: column;
            }
            // / THE PLACES /
            .places {
                position: relative;
                height: 100%;
                width: 100%;
                flex: 1;
                transition: 1s;
                filter: brightness(.5);
                overflow: hidden;
                &:hover {
                    flex: 30%;
                    filter: brightness(1);
                }

                &:hover .places-exp {
                    opacity: 1;
                    transition: 2s;
                }
                
                .places-exp {
                    text-align: center;
                    color: white;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    opacity: 0;
                    transition: .5s;
                    text-shadow: 0px 0px 5px black;

                    h3 {
                        font-size: 1.5rem;
                    }
                }

                // / THE IMAGES /
                .images {
                    z-index: -10;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    // / filter: blur(1px); /

                }
            }
        }
        
    }
}


.benefit {
    width: 100%;
    margin-bottom: 5rem;
    .benefit-container {
        padding: 1rem 2rem;
        max-width: 1280px;
        margin: 0 auto;
        .benefit-cards{
            cursor: grab;
            width: 100%;
            display: flex;
            padding-bottom: 2.5rem;
            // / gap: 0 3rem; /
            .cards {
                display: flex;
                flex-direction: column;
                position: relative;
                flex-grow: 0;
                flex-shrink: 0;
                border-radius: 5px;
                overflow: hidden;
                height: fit-content;
                // / width: 400px; /
                .card-image {
                    position: relative;
                    height: 50%;
                    overflow: hidden;
                    height: 280px;
                    @media (max-width: $phone) {
                        height: 180px;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: -1;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 30%;
                        background: linear-gradient(0deg,  #000080 0%,  #00008000 100%);
                    }
                }
                .card-detail {
                    height: 50%;
                    padding: 1rem ;
                    background-color: white;
                    overflow: hidden;
                    div {
                        h3 {
                            font-size: 1.6rem;
                            padding-right: 20%;
                            color: $red-orange-400;
                            margin-bottom: 8px;
                        }
                        &:nth-child(2) {
                            display: flex;
                            border-top: 1px solid $tangerine-300;
                            padding: 10px 0;
                            p {
                                font-size: 1.1rem;
                                margin-bottom: 2rem;
                                &:nth-child(1) {
                                    margin-right: 1rem;
                                }
                                &:nth-child(2) {
                                    flex-grow: 1;
                                }
                                i {
                                    color: $tangerine-700;
                                }
                                @media (max-width: $phone) {
                                    font-size: .8rem;
                                }
                            }
                        }
                        &:nth-child(3) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            a {
                                color: #527853;
                                @media (max-width: $phone) {
                                    font-size: .8rem;
                                }
                                &:nth-child(2) {
                                    background-color: $tangerine-400;
                                    border-radius: 8px;
                                    padding: 0.5rem 1rem;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* KOMUNITAS WARGA */
.communities {
    .container {
        .communities-gallery {
            display: flex;
            width: 100%;
            height: 455px * 2;
            border-radius: 10px;
            overflow: hidden;
            @media (max-width: $phone-md) {
                display: block;
            }
            div {
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @media (max-width: $phone-md) {
                    height: 33%;
                    flex-direction: row;
                }
                @media (max-width: $phone) {
                    height: 33%;
                    flex-direction: column;
                }
                &:nth-child(even) {
                    @media (max-width: $phone-md) {
                        flex-direction: row-reverse;
                    }
                    @media (max-width: $phone) {
                        flex-direction: column;
                    }
                    flex-direction: column-reverse;
                }

                .img-gallery {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 0 10px;
                    overflow: hidden;
                    background-color: #EFE6DE;
                    text-align: center;
                    width: 100%;
                    height: 50%;
                    @media (max-width: $phone-md) {
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    h3 {
                        -webkit-text-stroke: .3px white;
                        color: #527853;
                        font-size: 1.75rem;
                        margin-bottom: 2rem;
                        @media (max-width: $phone-md) {
                            font-size: 1.25rem;
                            margin-bottom: 1rem;
                        }
                    }
                    p {
                        font-size: 1rem;
                        @media (max-width: $phone-md) {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
}

.lproduct {
    margin-bottom: 5rem;
    .container {
        // / PLACE IMAGES /
        .lproduct-images {
            height: 555px;
            @media (max-width: $tablet) {
                height: 555px * 1.5;
            }
            @media (max-width: $phone) {
                height: 680px;
            }
            display: flex;
            width: 100%;
            border-radius: 10px; 
            overflow: hidden;
            @media (max-width: $tablet) {
                flex-direction: column;
            }
            // / THE lproduct /
            .lproducts {
                position: relative;
                height: 100%;
                width: 100%;
                flex: 1;
                transition: 1s;
                overflow: hidden;
                &:hover {
                    filter: brightness(1);
                }
                
                .lproduct-exp {
                    color: white;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: end;
                    padding: 1.75rem;
                    transition: .5s;
                    text-shadow: 0px 0px 5px black;

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        font-family: 'montserrat';
                        @media (max-width: $tablet) {
                            flex-direction: column;
                            font-size: 1rem;
                        }
                    }
                    p {
                        font-size: .8rem;
                        font-weight: 500;
                        font-family: 'montserrat';
                        @media (max-width: $tablet) {
                            flex-direction: column;
                            font-size: .7rem;
                        }
                    }
                }

                // / THE IMAGES /
                .images {
                    z-index: -10;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    // / filter: blur(1px); /
                }
            }
        }
        
    }
}

// INFORMATION

.answer {
    max-height: 0;
    overflow: hidden;
    transition: .7s;
}
.show {
    max-height: 200px;
}

.arrow-rotate {
    rotate: -90deg;
    transition: .4s;
}

.arrow-rotated {
    rotate: 0deg;
}
.flex-half {
    display: flex;
    gap: .75rem;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
    .info-frame {
        flex: 1;
        .map-frame {
            width: 100%;
            height: 20rem;
            border: none;
        }
        .asker {
            width: 100%;
            margin-bottom: 4px;
            // box-shadow:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            .asker-ttl {
                padding: 1rem;
                cursor: pointer;
                display: flex;
                /* justify-content: center; */
                position: relative;
                h4 {
                    padding-bottom: 1rem;
                    display: block;
                    width: 90%;
                    border-bottom: 1px solid $tangerine-700;
                    font-size: 1rem;
                    @media (max-width: $phone-md) {
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                    }
                }
                .arrowww {
                    color: black;
                    text-align: right;
                    width: 1rem;
                    position: absolute;
                    right: 2rem;
                    @media (max-width: $phone-md) {
                        width: .5rem;
                    }
                }
            }
            .answer-info {
                width: 100%;
                ul {
                    list-style-type: none;
                    padding: 1rem 1.5rem;
                    @media (max-width: $phone-md) {
                    padding: 1rem 3rem;
                    }
                    li {
                        font-size: 1rem;
                        @media (max-width: $phone-md) {
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
    .form-q {
        flex: 1;
        display: flex;
        flex-direction: column;
        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        input {
            margin-bottom: .5rem;
            // flex-grow: 1;
            width: 100%;
            padding: 1rem .75rem;
            border: none;
            background-color: none;
        }
        textarea{
            margin-bottom: .5rem;
            flex-grow: 1;
            width: 100%;
            border: none;
            background-color: none;
        }
        button {
            // flex-grow: 1;
            width: 100%;
            padding: .8rem;
            border: none;
            cursor: pointer;
            background-color: $red-orange-300;
            transition: .4s;
            font-family: inherit;
            &:hover {
                background-color: $red-orange-400;
                color: white;
            }
        }
    }
}




.goDown {
    animation: navDown .5s ease;
}

@keyframes navDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.resGoDown {
    animation: navRespoLeft .8s cubic-bezier(0,.06,0,1.28);
}

@keyframes navRespoLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.nav-close {
    animation: nav-close .8s cubic-bezier(.97,-0.29,1,.93);
}

@keyframes nav-close {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}